@model IEnumerable<comercializadora.DataBase.Factura>

@{
    ViewBag.Title = "IndexFacturaProductor";
}

<div class="row">
    <div class="col-md-12 col-sm-12 ">
        <div class="x_panel">
            <div class="x_title">
                <h2>LISTADO DE VENTAS A PRODUCTORES</h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li>
                        <a href="@Url.Action("CreateFacturaProductor", "Facturas")" class="btn btn-outline-primary btn-sm" title="Registrar Nuevo">
                            <i class="ace-icon fa fa-plus-circle bigger-120"></i>
                            Registrar Nuevo
                        </a>
                    </li>
                    <li>
                        <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="card-box table-responsive">
                            <table id="datatable" class="table table-striped table-bordered" style="width:100%">
                                <thead>
                                    <tr>
                                        <th>
                                            Factura
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.TipoFactura)
                                        </th>
                                        <th>
                                            Productor
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.FechaFactura)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.FechaVencimiento)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.ValorFactura)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.SaldoPendiente)
                                        </th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.CodigoFactura)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.TipoFactura)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Productor.Nombre)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.FechaFactura)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.FechaVencimiento)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.ValorFactura)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.SaldoPendiente)
                                            </td>
                                            <td>
                                                @Html.ActionLink("Detalles", "Details", new { id = item.FacturaID })
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
