@model comercializadora.DataBase.PrecioCompra

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>PrecioCompra</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Precio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Precio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaDesde)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaDesde)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaHasta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaHasta)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Insumo.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Insumo.Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ListaPrecio.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ListaPrecio.Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Producto.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Producto.Descripcion)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.precioCompraId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
