@model comercializadora.DataBase.Lotes

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Lotes</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Extencion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Extencion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TipoSuelo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoSuelo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TipoRiego)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoRiego)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CantidadCosecha)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CantidadCosecha)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Finca.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Finca.Nombre)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
