@model comercializadora.DataBase.Pagos

@{
    ViewBag.Title = "CreateAnticipo";
}

@using (Html.BeginForm("Create", "Pagos", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="x_panel">
        <div class="x_title">
            <h2>Registro nuevo anticipo</h2>
            <ul class="nav navbar-right panel_toolbox">
                <li>
                    <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                </li>
                <li>
                    <a class="close-link"><i class="fa fa-close"></i></a>
                </li>
            </ul>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">

            <div class="form-horizontal">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <div class="form-group row">
                    <div class="col-md-6">
                        @Html.LabelFor(model => model.ProductorId, "ProductorId", htmlAttributes: new { @class = "control-label col-md-2" })
                        @Html.DropDownList("ProductorId", null, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.ProductorId, "", new { @class = "text-danger" })
                    </div>

                    <div class="col-md-6">
                        @Html.LabelFor(model => model.TipoPagoId, "TipoPagoId", htmlAttributes: new { @class = "control-label col-md-2" })
                        @Html.DropDownList("TipoPagoId", null, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.TipoPagoId, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-md-6">
                        @Html.LabelFor(model => model.Fecha, htmlAttributes: new { @class = "control-label col-md-2" })
                        @Html.TextBoxFor(model => model.Fecha, new { @type = "date", @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Fecha, "", new { @class = "text-danger" })
                    </div>

                    <div class="col-md-6">
                        @Html.LabelFor(model => model.Monto, htmlAttributes: new { @class = "control-label col-md-2" })
                        @Html.EditorFor(model => model.Monto, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Monto, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="center">
                    <a href="@Url.Action("Index","Pagos")" class="btn btn-xs btn-danger" data-rel="tooltip">
                        <i class="ace-icon fa fa-times"></i>
                        Cancelar
                    </a>
                    <button class="btn btn-xs btn-info" id="btnGuardar" type="submit">
                        <i class="ace-icon fa fa-check bigger-110"></i>
                        Guardar
                    </button>
                </div>
            </div>
        </div>
    </div>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
