@model IEnumerable<comercializadora.DataBase.Pagos>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.cosechaId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Concepto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fecha)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Monto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Compra.CompraID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Productor.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Proveedor.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TipoPago.Descripcion)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.cosechaId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Concepto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Fecha)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Monto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Compra.CompraID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Productor.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Proveedor.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TipoPago.Descripcion)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.PagoId }) |
            @Html.ActionLink("Details", "Details", new { id=item.PagoId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.PagoId })
        </td>
    </tr>
}

</table>
