@model IEnumerable<comercializadora.DataBase.Pagos>

@{
    ViewBag.Title = "Index";
}

<div class="row">
    <div class="col-md-12 col-sm-12 ">
        <div class="x_panel">
            <div class="x_title">
                <h2>LISTADO DE PAGOS</h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li>
                        <a href="@Url.Action("Create", "Pagos")" class="btn btn-outline-info btn-sm" title="Registrar Nuevo">
                            <i class="ace-icon fa fa-plus-circle bigger-120"></i>
                            Registrar Nuevo
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("CreateAnticipo", "Pagos")" class="btn btn-outline-info btn-sm" title="Registrar Nuevo">
                            <i class="ace-icon fa fa-plus-circle bigger-120"></i>
                            Registrar Anticipo
                        </a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="card-box table-responsive">
                            <table id="datatable" class="table table-striped table-bordered" style="width:100%">
                                <thead>
                                    <tr>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Proveedor.Nombre)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.TipoPago.Descripcion)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Concepto)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Fecha)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Monto)
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        var nombre = item.Productor != null ? item.Productor.Nombre : item.Proveedor.Nombre;
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => nombre)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.TipoPago.Descripcion)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Concepto)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Fecha)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Monto)
                                        </td>
                                    </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>