@model comercializadora.DataBase.CosechaDetalle


@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>CosechaDetalle</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Precio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Precio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cantidad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cantidad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cosecha.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cosecha.Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Producto.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Producto.Descripcion)
        </dd>

    </dl>
</div>

<!---->



<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CosechaDetalleID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
